language: java
dist: trusty

jdk:
  - oraclejdk8
  - openjdk11

env:
    global:
        # latest Ant
        - ANT_VERSION=1.10.5

        - BASEX_VERSION=8.6.4

    matrix:
        # Note
        #   * XML Calabash will use Saxon jar in its own lib directory.
        #   * BaseX test requires XML Calabash.

        # latest Saxon 9.9 version and Jing
        - SAXON_VERSION=9.9.1-5
          JING_VERSION=20181222
          XMLCALABASH_VERSION=1.1.27-99

        # latest Saxon 9.8 version
        - SAXON_VERSION=9.8.0-15
          XMLCALABASH_VERSION=1.1.27-98

        # Saxon and Ant used in oXygen
        - SAXON_VERSION=9.8.0-12
          ANT_VERSION=1.9.8

        # highest deprecated Saxon version
        - SAXON_VERSION=9.7.0-21

before_install:
    - unset _JAVA_OPTIONS

before_script:
    - source ./test/ci/install-deps.sh

script:
    - ./test/ci/print-env.sh
    - cd test
    - echo "execute bats unit tests"
    - ./run-bats.sh --tap
    - echo "execute XSpec unit tests"
    - ./run-xspec-tests-ant.sh -silent
    - echo "execute XSpec end-to-end tests"
    - cd ..
    - ./test/end-to-end/run-e2e-tests.sh -silent
    - echo "compile java"
    - ./test/ci/compile-java.sh -silent
    - echo "check git status"
    - output=$(git status --porcelain); echo "${output}"; test -z "${output}"
