name: Maven Deploy

on:
  push:
    branches:
      - master

jobs:
  maven-deploy:
    runs-on: ubuntu-latest

    # Do not disturb forks
    if: github.repository == 'xspec/xspec'

    steps:
      - uses: actions/checkout@v4

      - run: gpg --version

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
          server-id: xspec-io.ossrh
          server-username: NEXUS_USERNAME
          server-password: NEXUS_PASSWORD

      - name : Check Maven and Java versions
        run : mvn -v

      - run: mvn clean verify --batch-mode --activate-profiles release -Dgpg.signer=bc
        env:
          NEXUS_USERNAME: ${{ secrets.nexus_username }}
          NEXUS_PASSWORD: ${{ secrets.nexus_password }}
          MAVEN_GPG_KEY: ${{ secrets.gpg_private_key }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.gpg_passphrase }}
